.score-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-image: url('../images/cauldron.png');
    height: 400px;
    justify-content: center;
}

.score-bar {
    width: 240px;
    height: 135px;
    background-color: white;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    margin-top: 75px;
    margin-left: 20px;
}


.score-bar-fill {
    background-color: #4caf50;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: height 0.5s ease-in-out;
}

.score-label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
